@import "../../stylesheets/variables";

.button-style {
  @include button-style;

  margin: -10% 5% 0 0;
  min-width: 140px;
  float: right;

  @media (max-width: $phone-width) {
    display: block;
    margin: 20px auto;
    float: none;
    width: 90%;
  }
}