@import "../../stylesheets/variables";

.header-style {
  @include header-style;
  @include padding-desktop;

  margin: 1% 3%;

  > ul {
    @include underline;

    width: 100%;

    > li {
      vertical-align: bottom;
      width: fit-content;

      > a {
        color: $primary-black;
      }

      > .menu-icon {
        font-family: 'Teko-Light';
        font-size: 20px;
        display: inline-block;
        z-index: 1000000;

        > p {
          display: inline;
        }

        > a {
          margin-bottom: 0;
          height: fit-content;
        }
      }

      @media (max-width: $phone-width) {
        display: inline;
      }
    }

    @media (max-width: $phone-width) {
      border: none;
    }
  }

  @media (max-width: $desktop-width) {
    @include padding-laptop;

    margin: 2% 6%;
  }

  @media (max-width: $laptop-width) {
    @include padding-mobile;

    margin: 2% 3%;
  }

  @media (max-width: $phone-width) {
    @include padding-phone;
  }
}

.carousel-text {
  font-family: 'Teko-Regular';
  font-size: $banner-font;
  color: $primary-black;

  @media (max-width: $phone-width) {
    margin: auto;
    text-align: center;
    font-size: $phone-banner-font;
  }
}

.carousel-style {
  height: 600px;
  width: inherit;
  margin: 0;
  background: url("../../assets/images/florensis.png");
  background-attachment: fixed;
  background-size: 160%;
  background-repeat: no-repeat;
  background-position: top left;
  -webkit-background-size: 160%;
  -moz-background-size: 160%;
  -o-background-size: 160%;
  margin-top: 2%;
  padding: 10% 10%;

  @media (max-width: $phone-width) {
    padding-top: 20%;
    height: 350px;
    margin-top: 12%;
  }
  
  @media (max-width: $small-phone-width) {
    margin-top: 20%;
	}
}

.scroll-styles {
  margin: 0;
  background-color: #fff;

  > ul {
    border: none;
  }
}
