@import "../../stylesheets/variables";

.footer-style {
  position: absolute;
  left: 0;
  right: 0;
  height: 300px;
  width: 100%;
  display: grid;
  grid-template-columns: 90% 10%;

  @media (max-width: $phone-width) {
    display: flex;
    height: auto;
	}
}

.footer-first-col {
  font-size: $xlarge-font;
}

.footer-second-col {

  > p {
    display: inline-block;
    padding: 20px 15px 0 0;

    @media (max-width: $phone-width) {
      display: flex;
      padding: 0;
    }
  }
}

.main-footer {
  background-color: $footer-black;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  letter-spacing: 1px;
  font-family: 'Teko-Regular';

  > div {
    display: grid;
    grid-template-columns: 15% 65% 20%;

    @media (max-width: $mobile-width) {
      display: grid;
      grid-template-columns: 70% 30%;
    }

    @media (max-width: $phone-width) {
      display: flex;
    }
  }

  > .footer-menu {
    color: $primary-white;
    width: 80%;
    height: 40%;
    margin: auto auto 0 auto;
    border-bottom: 1px solid $footer-border-gray;

    > .footer-second-col {

      > p {
        cursor: pointer;

        > a {
          color: $primary-white;

          &:hover {
            text-decoration: none;
            color: $primary-blue;
          }
        }

        &:hover {
          color: $primary-blue;
        }
      }
    }

    > .footer-third-col {
      text-align: right;

      > img {
        padding: 20px 15px 0 0;
        cursor: pointer;

        @media (max-width: $phone-width) {
          padding: 0 0 30px 0;
        }
      }

      > img:last-child {
        padding-right: 0;
      }

      @media (max-width: $phone-width) {
        display: flex;
        flex-direction: column;
      }
    }

    @media (max-width: $laptop-width) {
      height: auto;
    }

    @media (max-width: $phone-width) {
      justify-content: space-between;
      padding-bottom: 30px;
      font-size: 24px;
    }
  }

  > .footer-copyright {
    width: 80%;
    height: 40%;
    margin: 0 auto auto auto;
    font-size: $small-font;

    > div {

      > p {
        color: $footer-gray;

        @media (max-width: $phone-width) {
          margin: 0;
          padding: 0;
        }
      }
    }
    
    > .footer-second-col {

      > p {
        padding: 40px 25px 0 0;

        @media (max-width: $laptop-width) {
          margin: 0;
          padding: 0 25px 0 0;
        }
      }
    }

    > .footer-third-col {
      text-align: right;

      > p {
        padding: 30px 0 0 0;

        @media (max-width: $laptop-width) {
          padding: 0;
        }
      }

      @media (max-width: $laptop-width) {
        text-align: left;
      }

      @media (max-width: $phone-width) {
        margin-top: 20px;
      }
    }

    @media (max-width: $laptop-width) {
      display: flex;
      flex-direction: column;
      padding-top: 30px;
      height: auto;
    }
  }

  @media (max-width: $phone-width) {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    
    > .footer-menu {
      margin: 0 auto;
      width: 90%;
    }

    > .footer-copyright {
      margin: 0 auto;
      width: 90%;
    }
	}
}

.to-top {
  font-size: 24px;
  font-family: 'Teko-Regular';
  background-color: $primary-white;
  text-align: center;

  > div {
    display: inline-block;
    margin-top: 100px;
    max-height: 90px;
    max-width: 50px;
    padding: 10px;
    border-radius: 25px;

    > a {
      color: $primary-blue;
  
      &:hover {
        text-decoration: none;
      }
    }

    &:hover {
      border: 1px solid $primary-blue;
      cursor: pointer;
    }
  }
}
